{
  "extends": "airbnb-base",
  "plugins": [
    "svelte3"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "overrides": [
    {
      "files": [
        "**/*.svelte"
      ],
      "processor": "svelte3/svelte3"
    }
  ],
  "rules": {
    "import/no-mutable-exports": "off",
    "prefer-const": "off",
    "no-template-curly-in-string": "off",
    "no-multiple-empty-lines": "off"
  }
}
