{
  "extends": "airbnb-base",
  "plugins": [
    "html"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-mutable-exports": "off",
    "prefer-const": "off"
  }
}
