<svg version="1.1" ref:svg :class :width :height
  role="{{ label ? 'img' : 'presentation' }}"
  viewBox="{{box}}">
  <slot></slot>
</svg>

<script>
export default {
  data() {
    return {
      // optionals
      x: false,
      y: false,
      style: false,
      label: false
    }
  },
  oncreate() {
    let svg = this.refs.svg;
    let x = this.get('x');
    let y = this.get('y');
    let style = this.get('style');
    let label = this.get('label');
    if (x) {
      svg.setAttribute("x", x)
    }
    if (y) {
      svg.setAttribute("y", y)
    }
    if (style) {
      svg.setAttribute("style", style)
    }
    if (label) {
      svg.setAttribute("aria-label", label)
    }
  }
}
</script>
