.fa-icon.svelte-1mc5hvj{display:inline-block;fill:currentColor}.fa-flip-horizontal.svelte-1mc5hvj{transform:scale(-1, 1)}.fa-flip-vertical.svelte-1mc5hvj{transform:scale(1, -1)}.fa-spin.svelte-1mc5hvj{animation:svelte-1mc5hvj-fa-spin 1s 0s infinite linear}.fa-inverse.svelte-1mc5hvj{color:#fff}.fa-pulse.svelte-1mc5hvj{animation:svelte-1mc5hvj-fa-spin 1s infinite steps(8)}@keyframes svelte-1mc5hvj-fa-spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.langtag.svelte-11sh29b{position:relative}.langtag.svelte-11sh29b::after{content:attr(data-language);position:absolute;top:0;right:0;padding:1em;display:flex;align-items:center;justify-content:center;background:var(--langtag-background, inherit);color:var(--langtag-color, inherit);border-radius:var(--langtag-border-radius)}pre.svelte-tjkhvl.svelte-tjkhvl{margin:0}table.svelte-tjkhvl.svelte-tjkhvl,tr.svelte-tjkhvl.svelte-tjkhvl,td.svelte-tjkhvl.svelte-tjkhvl{padding:0;border:0;margin:0;vertical-align:baseline}table.svelte-tjkhvl.svelte-tjkhvl{width:100%;border-collapse:collapse;border-spacing:0}tr.svelte-tjkhvl:first-of-type td.svelte-tjkhvl{padding-top:1em}tr.svelte-tjkhvl:last-child td.svelte-tjkhvl{padding-bottom:1em}td.svelte-tjkhvl.svelte-tjkhvl{padding-left:var(--padding-left, 1em);padding-right:var(--padding-right, 1em)}td.hljs.svelte-tjkhvl.svelte-tjkhvl:not(.hideBorder):after{content:"";position:absolute;top:0;right:0;width:1px;height:100%;background:var(--border-color, currentColor)}.wrapLines.svelte-tjkhvl.svelte-tjkhvl{white-space:pre-wrap}td.svelte-tjkhvl.svelte-tjkhvl,pre.svelte-tjkhvl.svelte-tjkhvl{position:relative}pre.svelte-tjkhvl.svelte-tjkhvl{z-index:1}.line-background.svelte-tjkhvl.svelte-tjkhvl{position:absolute;z-index:0;top:0;left:0;width:100%;height:100%}tr.svelte-tjkhvl:first-of-type td .line-background.svelte-tjkhvl,tr.svelte-tjkhvl:last-of-type td .line-background.svelte-tjkhvl{height:calc(100% - 1em)}tr.svelte-tjkhvl:first-of-type td .line-background.svelte-tjkhvl{top:1em}tr.svelte-tjkhvl:last-of-type td .line-background.svelte-tjkhvl{bottom:1em}main {
  margin: 0;
  padding: 4em 0 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #666;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  color: #42b983;
  font-weight: 600;
}

#logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 20px auto 40px;
  padding: 20px;
  position: relative;
  border-radius: 50%;
  background-color: #35495e;
  color: #41b883;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}

#logo:hover {
  margin: 10px auto 30px;
  padding: 30px;
  background-color: #41b883;
  color: #35495e;
}

figure .fa-icon {
  display: block;
}

#logo .fa-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin-bottom: 1em;
  font-family: Dosis, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2 {
  color: #2c3e50;
  font-weight: 300;
}

h2 {
  margin-top: 3em;
  font-size: 1.2em;
}

.desc {
  margin-bottom: 4em;
  color: #7f8c8d;
}

p small {
  font-size: 0.8em;
  color: #7f8c8d;
}

pre {
  display: inline-block !important;
  margin: 0;
  padding: 0.8em !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
  text-align: left;
  line-height: 1.1;
  border-radius: 5px;
}

footer {
  margin: 5em 0 3em;
  font-size: 0.5em;
  vertical-align: middle;
}

footer a {
  display: inline-block;
  margin: 0 5px;
  padding: 3px 0 6px;
  color: #7f8c8d;
  font-size: 2em;
  text-decoration: none;
}

footer a:hover {
  padding-bottom: 3px;
  border-bottom: 3px solid #42b983;
}

.alert {
  color: #c33;
  opacity: 0.8;
}

@media (max-width: 640px) {
  body {
    padding-top: 0;
    text-align: left;
  }

  #logo {
    margin: 0 auto;
    transform: scale(0.6);
  }

  #logo:hover {
    margin: -10px auto;
  }

  h1,
  p {
    padding: 0 25px;
  }

  h1 {
    border-left: 5px solid #2c3e50;
  }

  h2 {
    padding-left: 20px;
    border-left: 5px solid rgba(0, 0, 0, 0.1);
  }

  figure {
    margin: 1em 0;
  }

  pre {
    display: block !important;
    box-shadow: none;
    overflow-x: auto;
    font-size: 0.9em;
    text-align: center;
  }
}
